
services:
  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack'
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh
    healthcheck:
      test: ['CMD', 'curl', 'localhost:4566']
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - cdp-tenant

  redis:
    image: redis:7.2.3-alpine3.18
    ports:
      - '6379:6379'
    restart: always
    networks:
      - cdp-tenant

  mongodb:
    image: mongo:6.0.13
    networks:
      - cdp-tenant
    ports:
      - '27017:27017'
    volumes:
      - mongodb-data:/data
    restart: always
  postgres:
    image: postgres:16-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: livestock_auth
    networks:
      - cdp-tenant
    volumes:
      - postgres-data:/data
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d livestock_auth" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  liquibase:
    image: liquibase/liquibase
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./changelog:/liquibase/changelog
    command: --url=jdbc:postgresql://localhost:5432/livestock_auth --username=postgres --password=postgres --changelog-file=changelog/db.changelog.xml update
    networks:
      - cdp-tenant
  your-backend:
    build: ./
    ports:
      - '8080:8080'
    links:
      - 'localstack:localstack'
      - 'mongodb:mongodb'
      - 'postgres:postgres'
    depends_on:
      localstack:
        condition: service_healthy
      mongodb:
        condition: service_started
      postgres:
        condition: service_started
    env_file:
      - 'compose/aws.env'
    environment:
      PORT: 8080
      LOCALSTACK_ENDPOINT: http://localstack:4566
      MONGO_URI: mongodb://mongodb:27017/
      POSTGRES_URI: http://localhost:5432
    networks:
      - cdp-tenant
volumes:
  mongodb-data:
  postgres-data:

networks:
  cdp-tenant:
    driver: bridge
